<html>
<head>
<meta charset="utf-8">
<title> balabala</title>
</head>
<body>
    <button onclick="new1()">测试new</button>
    <button onclick="upload()">测试upload</button>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script>
    function upload(){
        $.get("/upload",{'time':'201808041822^201808041900','location':'123.4438,41.7040^123.4438,41.7138','color':'白色','kind':'1'}, function(result){
            alert(result.msg)
        })
    }
    function new1(){
        $.get("/new",{'number':'123','time':'201808021842','location':'123.4328,41.7042','color':'白色','kind':'1'}, function(result){
            alert(result.msg)
        })
    }
</script>